{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog post details</title>
    <link rel="stylesheet" href="{% static 'output.css' %}">
</head>
<body class="bg-gray-100 font-sans antialiased">
     <!--Navbar -->
     <nav class="bg-blue-600 p-4 flex justify-between">
        <div>
            <h1 class="text-3xl font-bold">AI Blog Generator</h1>
        </div>
        <div>
            <a href="#" class="text-white hover:underline mx-4">Welcome {{ user.username }}</a>
            <a href="/blog-list" class="text-white hover:underline mx-4">Saved Blog posts</a>
            <a href="#" class="text-white hover:underline">Logout</a>
        </div>
    </nav>
    
    <!--Main content-->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl max-auto bg-white p-6 rounded-lg shadow-md">
            <section>
                <h2 class="text-xl mb-4 font-semibold">Blog post details</h2>
                <div class="border border-gray-300 rounded-lg">
                    <h3 class="text-lg font-semibold">{{blog_article_detail.youtube_tittle}}</h3>
                    <p class="text-gray-700">{{blog_article_detail.generated_content}}</p>
                    <hr class="my-4 border-gray-300">
                    <h4 class="text-lg font-semibold">YouTube Tittle</h4>
                    <p class="text-gray-700">{{blog_article_detail.youtube_tittle}}</p>
                    <h4 class="text-lg font-semibold mt-4">YouTube Link</h4>
                    <a href="#" class="text-blue-600 hover:underline">{{blog_article_detail.youtube_link}}</a>
                </div>
            </section>
        </div>
    </div>
    <footer class="text-center p-4 text-black mt-6">
        Powered by Jerrylion
    </footer>
</body>
</html>